*{
    background-color: rgb(13, 19, 17);
}
h1{
    color: red;
}
.honeysrititle{
    background-color: #fff;
    text-align: center;
}
.cfr{
    background-color: forestgreen;
    color: #ff8800;
    text-align: center;
}